{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "none",
  "tabWidth": 2
}